body{
    background-color: rgb(240, 237, 234);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Education{
    font-family: 'Times New Roman', Times, serif;
    font: normal;
}

.Skills{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
}